@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");

body{
    background-color: blueviolet;
}


.container.my-5 {
    max-width: 800px; /* Set your desired fixed width */
    margin: 0 auto;
    background-color: grey;
}

.main-image {
    background-color: grey;
    position: relative; /* Added this */
    text-align: center;
    height: 500px; /* Set your desired fixed height */
    display: flex;
    align-items: center; /* Vertically center buttons */
}

.image {
    text-align: center;
    height: 100%; /* Adjusted height */
    max-width: 80%; /* Added this */
    overflow: hidden; /* Added this to hide overflowing content */
    margin: 0 auto; /* Center the image */
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.button-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.button-container button {
    border: none;
    background: none;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
}

.button-container button.prev {
    margin-left: 10px;
}

.button-container button.next {
    margin-right: 10px;
}

.small-images {
    display: flex;
    overflow-x: auto; /* Added this for horizontal scrolling */
    margin: 0; /* Removed the default margin */
    padding: 0; /* Removed the default padding */
    width: 100%; /* Set fixed width */
    height: 100px; /* Set fixed height */
    
}


.small-images img {
    height: 100%; /* Set fixed height */
    width: auto; /* Auto width */
    margin: 0px 5px;
}


