<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MobiLeLeLe</title>
    <link rel="stylesheet" href="/css/reset-css.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>


</head>

<body class="add-body">

    <div>
        <nav th:replace="~{fragments/commons::navigation}"></nav>
    </div>


    

        <div class="container-fluid justify-content-center align-items-center">
            <div class="row">
                <form th:action="@{/recipes/add}"
                      th:method="post"
                      th:object="${addRecipeDto}"
                      enctype="multipart/form-data"
            class="col-sm-12 col-lg-6 mx-auto p-4">
    
                <h2 class="text-center text-white my-4">Upload Recepe</h2>
    
                <div class="form-group">
                    <label for="name" class="text-white font-weight-bold">Recipe name</label>
                    <input th:field="*{name}"
                           th:errorclass="is-invalid"
                            id="name"
                           type="text"
                           class="form-control"
                           placeholder="Recipe name" />
                    <p th:each="err : ${#fields.errors('name')}"
                       th:text="${err}"  id="inputNameError"
                            class="invalid-feedback text-danger mb-0">Recipe name must be between 5 and 30 symbols!</p>
                </div>
    
                <div class="row">
                    <div class="form-group col-sm-12 col-md-6  mb-3">
                        <label for="timeNeeded" class="text-white font-weight-bold">Time needed</label>
                        <input th:field="*{timeNeeded}"
                               th:errorclass="is-invalid"
                                id="timeNeeded" type="number" min="0" max="480" step="5" class="form-control"
                            placeholder="Time needed in mins" />
                        <p th:each="err : ${#fields.errors('timeNeeded')}"
                           th:text="${err}"
                                class="invalid-feedback text-danger mb-0">
                            Enter time needed in minutes.
                        </p>
                    </div>
                    <div class="form-group col-sm-12 col-md-6  mb-3">
                        <label for="portions" class="text-white font-weight-bold">Portions</label>
                        <input th:field="*{portions}"
                               th:errorclass="is-invalid"
                                id="portions" type="number" min="0" max="100" step="1" class="form-control"
                            placeholder="Portions" />
                        <p th:each="err : ${#fields.errors('portions')}"
                           th:text="${err}"
                                class="invalid-feedback text-danger mb-0">
                            Enter number of portions.
                        </p>
                    </div>
    
                </div>
    
                <div class="row">
                    <div class="form-group col-sm-12 col-md-6  mb-3">
                        <label class="text-center text-white font-weight-bold" for="hardnessLevel">Hardness level</label>
                        <select  th:field="*{level}"
                                 th:errorclass="is-invalid"
                                id="hardnessLevel" class="form-control">
                            <option value="" selected>Select level of hardness</option>
                            <option th:each="l : ${T(bg.example.recepeWebsite.model.entity.enums.LevelEnum).values()}"
                                    th:value="${l}"
                                    th:text="${l}">Select level</option>
                        </select>
                        <p class="invalid-feedback text-danger mb-0">
                            Level must be selected.
                        </p>
                    </div>
                    <div class="form-group col-sm-12 col-md-6  mb-3">
                        <label class="text-center text-white font-weight-bold" for="category">Category</label>
                        <select th:field="*{category}"
                                th:errorclass="is-invalid"
                                id="category" class="form-control">
                            <option value="">Select category</option>
                            <option th:each="c : ${T(bg.example.recepeWebsite.model.entity.enums.CategoryNameEnum).values()}"
                                    th:value="${c}"
                                    th:text="${c}">Select Category</option>
                        </select>
                        <p class="invalid-feedback text-danger mb-0">
                            Category must be selected.
                        </p>
                    </div>
                </div>
    
    
                <div class="form-group">
                    <label class="text-center text-white font-weight-bold" for="category">Choose types</label>

                    <div class="container m-0 p-1">
                        <div class="row text-white">
                            <div class="col-lg-3" th:each="t, iterStat : ${T(bg.example.recepeWebsite.model.entity.enums.TypeNameEnum).values()}">
                                <div class="form-check d-flex align-items-center">
                                    <input th:field="*{types}"
                                           th:value="${t}"
                                           class="form-check-input form-check-lg"
                                           type="checkbox"
                                           th:id="'check' + ${iterStat.index}">
                                    <label class="form-check-label text-white" th:for="'check' + ${iterStat.index}" th:text="${#strings.capitalize(#strings.toLowerCase(t))}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>







                <div class="form-group">
                    <label class="text-white font-weight-bold" for="products">Products</label>
                    <textarea th:field="*{products}"
                              th:errorclass="is-invalid"
                            id="products" type="textarea" class="form-control" rows="3" placeholder="Products"></textarea>
                    <p th:each="err : ${#fields.errors('products')}"
                       th:text="${err}"
                            class="invalid-feedback text-danger">
                        List of products is required.
                    </p>
                </div>
    
                <div class="form-group">
                    <label class="text-white font-weight-bold" for="description">Description</label>
                    <textarea th:field="*{description}"
                              th:errorclass="is-invalid"
                            id="description" type="textarea" class="form-control" rows="3"
                        placeholder="Description"></textarea>
                    <p th:each="err : ${#fields.errors('description')}"
                       th:text="${err}"
                            class="invalid-feedback text-danger">
                        Description is required.
                    </p>
                </div>










                    <div class="form-group mb-1">
                        <label for="formFileMultiple" class="text-white font-weight-bold">Upload photos</label>
                        <input th:field="*{pictureFiles}"
                               th:errorclass="is-invalid"
                                class="form-control" type="file" id="formFileMultiple" multiple>
                        <p class="invalid-feedback text-danger">
                            Minimum one photo must be added.
                        </p>
                    </div>

                    <div id="selectedFiles" class="text-white mb-3"></div>










                <div class="form-group">
                    <label class="text-white font-weight-bold" for="videoUrl">Video URL</label>
                    <input th:field="*{video_url}"
                           th:errorclass="is-invalid"
                            id="videoUrl" type="url" class="form-control" placeholder="Put recepe video URL here">
                    <p class="invalid-feedback text-danger">
                        Recipe video URL is required.
                    </p>
                </div>
    
                <div class="row mb-5">
                    <div class="col-md-4">
                        <div class="button-holder d-flex">
                            <input type="submit" class="btn btn-info btn-md" value="Submit Recepe" />
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>

    <div>
        <footer th:replace="~{fragments/commons::footer}"> </footer>
    </div>

    <script src="/js/chooseFiles.js"></script>
</body>

</html>