<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/commons::head}"></head>

<body>
<div>
    <nav th:replace="~{fragments/commons::navigation}"></nav>
</div>

<div class="container-fluid mb-5">
    <div class="row mx-0 mx-lg-3">
        <div class="register-image col-lg-6 col-sm-12 p-0 d-flex align-items-center justify-content-center">
            <img src="/images/register.jpg" alt="register-img" class="w-100" />
        </div>
        <div class="main-form col-sm-12 col-lg-6 d-flex flex-column align-items-center justify-content-center">


            <h2 class="text-center text-white mt-4 mb-0">Welcome to BestCook!</h2>
            <p class="text-center text-white mt-0 mb-4">In order to complete your registration, please go to your email to verificate your account!</p>



                    <div class="row">
                        <a th:href="@{/users/register/sendNewVerificationMail(username=${userRegisterDto.username})}"
                           class="mb-0">Click here and a new mail with verification link will be sent to you.</a>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>

<div class="mt-5">
    <footer th:replace="~{fragments/commons::footer}"></footer>
</div>
</body>
</html>
