
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MobiLeLeLe</title>
    <link rel="stylesheet" href="/css/reset-css.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>

  <body class="profile-body">

    <div class="container-fluid">
        <div class="d-flex justify-content-center align-items-center mx-5">
            <div class="col-sm- col-lg-5 mx-auto p-5 bg-custom-opaque border-custom">
    
                <h2 class="text-center text-white my-4">Profile</h2>
    
                <div class="row mb-4 mt-4 pl-5">
                    <div class="form-group col-6">
                        <h3>First name: </h3>
                        <p th:text="${user.firstName}">Peter</p>
                    </div>
                    <div class="form-group col-6">
                        <h3>Last name: </h3>
                        <p th:text="${user.lastName}">Ivanov</p>
                    </div>
                </div>
                <div class="row mb-4 pl-5">
                    <div class="form-group col-6">
                        <h3>Username: </h3>
                        <p th:text="${user.username}">pesho94</p>
                    </div>
                    <div class="form-group col-6">
                        <h3>Email: </h3>
                        <p th:text="${user.email}">pesho@gmail.com</p>
                    </div>
                </div>
                <div class="row my-3 pl-5">
                    <div class="col-md-4">
                        <div class="button-holder d-flex">
                            <a th:href="" class="btn btn-info btn-md px-4" value="Edit Profile" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div>
      <footer></footer>
    </div>
  </body>
</html>
