<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/commons::head}"></head>

<body>

<header>
  <nav th:replace="~{fragments/commons::navigation}"></nav>
</header>
<div class="container-fluid justify-content-center align-items-center">
  <div class="row">
    <form th:action="@{/recipes/search}"
          th:method="GET"
          th:object="${searchRecipeDto}"
          class="col-sm-12 col-lg-10 mx-auto"
          id="searchRecipeForm">

      <h2 class="text-center text-white my-4">Search Recipes</h2>

      <div class="row px-3">
        <div class="form-group col-sm-12 col-md-4  mx-0 px-2">
          <label for="name" class="text-white font-weight-bold">Recipe name</label>
          <input th:field="*{name}"
                 th:errorclass="is-invalid"
                 id="name"
                 type="text"
                 class="form-control"
                 placeholder="Recipe name" />
          <p th:each="err : ${#fields.errors('name')}"
             th:text="${err}"  id="inputNameError"
             class="invalid-feedback text-danger mb-0">Recipe name must be between 5 and 30 symbols!</p>
        </div>
        <div class="form-group col-sm-12 col-md-2  mx-0 px-2">
          <label for="minTimeNeeded" class="text-white font-weight-bold">Min Time</label>
          <input th:field="*{minTimeNeeded}"
                 th:errorclass="is-invalid"
                 id="minTimeNeeded" type="number" min="0" max="480" step="5" class="form-control"
                 placeholder="Min mins" />
          <p th:each="err : ${#fields.errors('minTimeNeeded')}"
             th:text="${err}"
             class="invalid-feedback text-danger mb-0">
            Enter time needed in minutes.
          </p>
        </div>
        <div class="form-group col-sm-12 col-md-2  mx-0 px-2">
          <label for="maxTimeNeeded" class="text-white font-weight-bold">Max Time</label>
          <input th:field="*{maxTimeNeeded}"
                 th:errorclass="is-invalid"
                 id="maxTimeNeeded" type="number" min="0" max="480" step="5" class="form-control"
                 placeholder="Max mins" />
          <p th:each="err : ${#fields.errors('maxTimeNeeded')}"
             th:text="${err}"
             class="invalid-feedback text-danger mb-0">
            Enter time needed in minutes.
          </p>
        </div>
        <div class="form-group col-sm-12 col-md-2  mx-0 px-2">
          <label class="text-center text-white font-weight-bold" for="hardnessLevel">Hardness level</label>
          <select  th:field="*{level}"
                   th:errorclass="is-invalid"
                   id="hardnessLevel" class="form-control">
            <option value="" selected>Select level of hardness</option>
            <option th:each="l : ${T(bg.example.recepeWebsite.model.entity.enums.LevelEnum).values()}"
                    th:value="${l}"
                    th:text="${l}">Select level</option>
          </select>
          <p class="invalid-feedback text-danger mb-0">
            Level must be selected.
          </p>
        </div>
        <div class="form-group col-sm-12 col-md-2  mx-0 px-1">
          <label class="text-center text-white font-weight-bold" for="category">Category</label>
          <select th:field="*{category}"
                  th:errorclass="is-invalid"
                  id="category" class="form-control">
            <option value="">Select category</option>
            <option th:each="c : ${T(bg.example.recepeWebsite.model.entity.enums.CategoryNameEnum).values()}"
                    th:value="${c}"
                    th:text="${c}">Select Category</option>
          </select>
          <p class="invalid-feedback text-danger mb-0">
            Category must be selected.
          </p>
        </div>
      </div>

      <div class="row px-3 align-items-end">
        <div class="form-group col-lg-11 mx-0 px-2">
          <label class="text-center text-white font-weight-bold" for="category">Choose types</label>
          <div class="container m-0 p-1">
            <div class="row text-white">
              <div class="col-lg-2"
                   th:each="t, iterStat : ${allTypes}">
                <div class="form-check d-flex align-items-center">
                  <input th:field="*{types}"
                         th:value="${t}"
                         class="form-check-input form-check-lg"
                         type="checkbox"
                         th:id="'check' + ${iterStat.index}">
                  <label class="form-check-label text-white"
                         th:for="'check' + ${iterStat.index}"
                         th:text="${#strings.capitalize(#strings.toLowerCase(t))}"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-1 mx-0 px-1">
          <div class="button-holder d-flex justify-content-end">
            <input id="submitBtn" type="submit" class="btn btn-info btn-lg mb-3" value="Search" />
          </div>
        </div>
      </div>


    </form>
  </div>
</div>

<div class="mx-4 mb-4 py-5 bg-custom border-custom">
  <h2 class="text-center text-white d-block">Results from searching</h2>
  <p class="text-center text-white d-block pt-2" th:text="${result}"></p>
</div>

<div class="card-group mx-3 px-0">

  <div    th:each="r : ${recipes}" th:object="${r}"
          class="col-sm-12 col-md-6 col-lg-3 mb-4">
    <div class="card h-100 bg-custom border-custom">
      <img class="card-img-top" th:src="*{pictureUrl}" alt="Card image cap">
      <div class="card-body">
        <h5 th:text="*{name}"
            class="card-title mb-0">Крем супа от картофи</h5>
        <p th:text="|Добавена от: *{author}|"
           class="card-text">Добавена от: Мария Иванова</p>
      </div>
      <div class="card-footer">
        <div class="d-flex flex-row">
          <div class="col-3 p-2 text-center">
            <p><i class="fa-regular fa-clock fa-2x"></i></p>
            <p th:text="|*{timeNeeded} мин|">45 мин</p>
          </div>
          <div class="col-3 p-2 text-center">
            <p><i class="fa-solid fa-bowl-rice fa-2x"></i></p>
            <p th:text="*{portions}">5</p>
          </div>



          <div th:switch="${r.category.name()}"
               class="col-3 p-2 text-center">
            <div th:case="'WITH_MEAT'">
              <p><i class="fa-solid fa-drumstick-bite fa-2x"></i></p>
              <p>Meat</p>
            </div><div th:case="'VEGAN'">
            <p><i class="fa-solid fa-seedling fa-2x"></i></p>
            <p>Vegan</p>
          </div>
            <div th:case="'VEGETARIAN'">
              <p><i class="fa-solid fa-egg fa-2x"></i></p>
              <p>Vegy</p>
            </div>
          </div>




          <div class="col-3 p-2 text-center">
            <p><i class="fa-solid fa-stairs fa-2x"></i></p>
            <p th:text="*{#strings.capitalize(#strings.toLowerCase(level))}">Лесна</p>
          </div>
        </div>
        <a th:href="@{/recipes/details/{id}(id=*{id})}" class="btn btn-secondary btn-sm mb-2">Details</a>
      </div>
    </div>
  </div>




</div>

</div>

<th:block th:if="${recipes != null}">
  <h5 th:if="${recipes.isEmpty()}" class="text-sm-center text-white mb-5"
      th:text="|No results found for recipes with ${result}|"></h5>
  <nav th:unless="${recipes.isEmpty()}">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${recipes.hasPrevious() ? '' : 'disabled'}">
        <a th:if="${recipes.hasPrevious()}"
           th:href="@{/recipes/search(size=${recipes.getSize()},page=${recipes.getNumber() - 1})}"
           class="page-link" href="#">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
        <a th:unless="${recipes.hasPrevious()}"
           class="page-link" href="#">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      <li class="page-item" th:each="page : ${#numbers.sequence(0, recipes.getTotalPages()-1)}"
          th:classappend="${page == recipes.getNumber() ? 'disabled' : ''}">
        <a th:unless="${page == recipes.getNumber()}"
           th:href="@{/recipes/search(size=${recipes.getSize()},page=${page})}"
           class="page-link" href="#"
           th:text="${page + 1}">Number</a>
        <span th:if="${page == recipes.getNumber()}" class="page-link" th:text="${page + 1}">Number</span>
      </li>
      <li class="page-item" th:classappend="${recipes.hasNext() ? '' : 'disabled'}">
        <a th:if="${recipes.hasNext()}"
           th:href="@{/recipes/search(size=${recipes.getSize()},page=${recipes.getNumber() + 1})}"
           class="page-link" href="#">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
        <a th:unless="${recipes.hasNext()}"
           class="page-link" href="#">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</th:block>

</div>

<footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>